*.annot
*.cmo
*.cma
*.cmi
*.cmt
*.cmti
*.a
*.o
*.cmx
*.cmxs
*.cmxa
*.exe
*.install
**/*.merlin
_build
libdoc
src/syntax/ppx_sedlex
examples/complement
examples/tokenizer
examples/subtraction

_opam

# BuckleScript
node_modules
**/lib/bs
**/lib/ocaml
*.cmj
*.bs.js
*.mlast*
*.mliast*

ppx/
dist/ppx-sedlex-*.zip
.deploy-status.env
