*.annot
*.cmo
*.cma
*.cmi
*.a
*.o
*.cmx
*.cmxs
*.cmxa
*.exe
*.install
*.merlin
_build
libdoc
src/syntax/ppx_sedlex
examples/complement
examples/tokenizer
examples/subtraction

# BuckleScript
node_modules
lib/bs
lib/ocaml
*.bs.js
